@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
body, html {
  scroll-behavior: smooth;
  background-color: #f9cff2;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

